<%= form_with(model: @chitter, local: true,url: choose_new_or_edit) do |form| %>
    <% if @chitter.errors.any? %>
        <div id="error_explanation">
            <h2><%= @chitter.errors.count %>件のエラーがあります。</h2>
            <ul>
            <% @chitter.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="chitter_tweet">
        <%= form.label :tweet %>
        <%= form.text_field :tweet %>
    </div>
    <%= form.submit %>
<% end %>