<%= render 'header' %>
  <article>
    <h3>この内容でツイートする。</h3>
    <%= form_with(model: @chitter, url: chitters_path, local: true) do |form| %>
      <%= form.hidden_field :tweet %>

      <div class="chitter_tweet">
        <%= form.label :chitter %>
        <%= form.text_field :tweet %>
      </div>
      <ul class="chitter_botton">
        <li class="botton_tweet"><%= form.submit "ツイート" %></li>
        <li class="botton_back"><%= form.submit "戻る", name: 'back' %></li>
      </ul>
    <% end %>
  </article>
    
<%= render 'footer' %>